extends layout

block content
    header(style="border-bottom: solid 1px;")
        span="Room 1"            
        a(href="" style="border: solid 1px;")="Leave Room"
    main
        div
            span="Socket ID 1: "
            span="chat message"
        div
            span="Socket ID 2: "
            span="chat message" 
        div(style="border-top: solid 1px;")
            form
                input(type="text" style="border-bottom: solid 1px;")
                input(type="submit", value="Send" style="border: solid 1px;")
        footer 